DB_USERNAME_DEV=
DB_PASSWORD_DEV=
DB_NAME_DEV=
DB_URL_PROD=
DB_USERNAME_PROD=
DB_PASSWORD_PROD=
DB_NAME_PROD=
PORT=
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_DB=
MONGO_URL=
SESSION_SECRET=
CORS_ORIGIN_PROD=
CORS_ORIGIN_DEV=
CORS_ORIGIN_API_PROD=
CORS_ORIGIN_API_DEV=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
RESET_PASSWORD_TOKEN_SECRET=
CSPACE_EMAIL=
CSPACE_PASSWORD=
APPLICATION_URL=